* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
    background: #F8F8F8;
    font-family: 'TT Lakes', serif;
    color: black;
}


.menu { /*градиент*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 85.26%;
    width: 100%;
    border-radius: 0;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    transform: matrix(-1, 0, 0, 1, 0, 0);

    display: flex;
    flex-direction: row;
    border-top: 1px solid #D9FFF5;
    justify-content: right;
}
h3 {
    margin: 16px;
    /*выравнивание в градиенте*/
    font-weight: normal;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.page-content {
    width: 320px;
    display: flex;
    flex-direction: column;
}

.list-logo {/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! В СТРОЧКУ !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


a, button {
    font-weight: 500;
    color: #1B1C21;
    text-decoration: none;
}

.button-logo {
    width: 224px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button-logo {
    height: 72px;
    width: 240px;
    border-radius: 6px;
    /*border: 1px solid rebeccapurple;*/
}


.show-more {
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
}

li {
    list-style-type: none;
    padding: 8px;
}

._hidden {
    display: none;
}

.img {
    /*центрирование по вертикали*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 16px 0 16px;
}

a, input, button:hover {
    cursor: pointer;
}

input, span {
    font-family: 'TT Lakes', serif;
}

.list-logo{
    width: auto;
    margin: 10px 0 10px 15px;

    display: flex;
    flex-direction: row;
    overflow-y: auto;

    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; /*Скрывает скролл в Firefox*/
}
.list-logo::-webkit-scrollbar {
    display: none;
}

.slide-menu__opacity {
    position: fixed;
    left: 94.54%;
    right: 0;
    top: 120px;
    bottom: 63.82%;
    order: 999;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); /*F8F8F8*/
    height: 70px;
    z-index: 100;
}
.slide-menu::-webkit-scrollbar {
    display: none;
}

.show-more {
    display: none;
}




.page-content{ /*удалить*/
        border: black 1px solid;
    }
/*//////////////////////START slider/////////////////*/
.wrapper{
    /*padding: 30px;*/
    display: flex;
    justify-content:center;
    align-items: center;
    border: green 1px solid;
    box-shadow: -15px 0 10px red inset;
    /*background-image: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);*/

}

/* Слайдер */
.slick-slider{
    min-width: 0;
    margin-top: 5px;
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}

.slider {
    position: relative;
    /*padding: 0 10px;*/
    border: darkgoldenrod 1px solid;
}

.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.slider .slick-dots li{
    list-style: none;
    margin: 0 7px;
    padding: 0;
}

.slider .slick-dots button{
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: #DDDDDD;
    border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
    background-color: #B5B6BC;
}

.slider .slick-arrow{
    font-size: 0;
    width: 0;
    height: 0;
}

.slider__item {
    margin: 0 30px;
    max-width: 100%;
}




/*//////////////////////END slider/////////////////*/

.content-companies {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
    /*стили для планшетов*/
    .content-companies, .show-more {
        display: unset;
    }

    .page-content {
        width: 768px;
    }

    .list-logo {
        flex-wrap: wrap;
    }

    .slider,  #item7, #item8, #item9, #item10, #item11 {
        display: none;
    }

    .show-more {
        margin-left: 28px;
        border: rebeccapurple 1px solid;
    }
}

@media screen and (min-width: 1120px) {
    /* Стили для ПК */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content-companies, .show-more {
        display: unset;
    }

    .page-content {
        width: 1120px;
    }

    .list-logo {
        flex-wrap: wrap;
    }

    .slider, #item9, #item10, #item11 {
        display: none;
    }

    .show-more {
        margin-left: 28px;
        border: rebeccapurple 1px solid;
    }

}