* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
    background: #F8F8F8;
    font-family: 'TT Lakes', serif;
    color: black;
}

a, button {
    font-weight: 500;
    color: #1B1C21;
    text-decoration: none;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
}

li {
    list-style-type: none;
    padding: 8px 0;
}

.button {
    border-color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    font-family: 'TT Lakes', serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    padding: 0 20px;
    margin: 0 0 10px 0;
}

a, input, button:hover {
    cursor: pointer;
}

.active-button {
    color: #7E7E82;
    border-left: #41F6D7 solid 3px;
}

.active-lang {
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
}

.full-menu {
    position: fixed;
    left: 0;
    width: 320px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
}

.head-menu {
    width: 100%;
    background: #FFFFFF;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-menu {
    display: flex;
    flex-direction: row;
}

.right-menu {
    display: flex;
    flex-direction: row;
}

.list-menu button {
    width: 320px;
    padding-bottom: 5px;
}

.additional-list, .lang {
    display: flex;
    flex-direction: row;
}

.bottom-menu {
    position: fixed;
    bottom: 0;
    width: auto;
}

.bottom-menu button {
    margin: 0;
    padding: 0;
}

.bottom-menu li {
    padding-right: 15px;
}

.additional-list, .lang {
    margin-left: 22px;
}

.contact {
    display: flex;
    flex-direction: column;
    margin-left: 22px;
    margin-bottom: 35px;
}

.contact__phone-number {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: 600;
}

.contact__mail {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

span {
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.list-menu__item:hover button { /*стили для списка меню*/
    transition-duration: 0.5s;
    /*filter: hue-rotate(180deg);*/
    border-left: #41F6D7 solid 3px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    height: 50px;
    box-shadow: 0 0 30px rgba(14, 24, 80, 0.2);
}

li button:hover { /*стили для кнопок в меню*/
    transition-duration: 1s;
    filter: hue-rotate(-30deg);
}

.lang span:hover { /*стили для выбора языка*/
    transition-duration: 1s;
    opacity: 0.5;
}

@media screen  and (max-height: 800px) {
    .list-menu__item {
        margin: 0;
        padding: 0;
    }

    .additional-list button, .head-menu li {
        scale: 0.7;
    }

    .list-menu__item:hover button { /*стили для списка меню*/
        transition-duration: 0.5s;
        border-left: #41F6D7 solid 3px;
        color: black;
        font-size: 40px;
        font-weight: bold;
        height: 40px;
        box-shadow: 0 0 30px rgba(14, 24, 80, 0.2);
    }
}

@media screen  and (max-height: 600px) {
    .list-menu__item {
        margin: 3px;
        padding: 0;
    }

    .additional-list button, .head-menu li {
        scale: 0.7;
        margin: 0;
        padding: 0;
    }

    .bottom-menu, .contact, .lang {
        scale: 0.9;
        margin: 0;
        padding: 0;
    }

    .additional-list {
        height: 45px;
    }

    .list-menu__item {
        height: 20px;
    }

    .active-button {
        height: 25px;
    }

    .list-menu__item:hover button { /*стили для списка меню*/
        font-size: 20px;
        height: 25px;
    }
}