* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
    background: #F8F8F8;
    font-family: 'TT Lakes', serif;
    color: black;
}

.menu { /*градиент*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 85.26%;
    width: 100%;
    border-radius: 0;
    margin-bottom: 10px;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    transform: matrix(-1, 0, 0, 1, 0, 0);

    display: flex;
    flex-direction: row;
    border-top: 1px solid #D9FFF5;
    justify-content: right;
}

h3 {
    margin: 16px;
    /*выравнивание в градиенте*/
    font-weight: normal;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.page-content {
    width: auto; /*320px;*/
    display: flex;
    flex-direction: column;
}

.list-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


a, button {
    font-weight: 500;
    color: #1B1C21;
    text-decoration: none;
}

.button-logo {
    width: 224px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-logo {
    height: 72px;
    width: 240px;
    border-radius: 6px;
}

.show-more, .show-less {
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
}

li {
    list-style-type: none;
    padding: 8px;
}

._hidden {
    display: none;
}

.img {
    /*центрирование по вертикали*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 16px 0 16px;
}

a, input, button:hover {
    cursor: pointer;
}

input, span {
    font-family: 'TT Lakes', serif;
}

.list-logo {
    width: auto;
    margin: 10px 0 10px 15px;

    display: flex;
    flex-direction: row;
    overflow-y: auto;

    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; /*Скрывает скролл в Firefox*/
}

.list-logo::-webkit-scrollbar {
    display: none;
}

.slide-menu__opacity {
    position: fixed;
    left: 94.54%;
    right: 0;
    top: 120px;
    bottom: 63.82%;
    order: 999;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); /*F8F8F8*/
    height: 70px;
    z-index: 100;
}

.slide-menu::-webkit-scrollbar {
    display: none;
}

.show-more {
    display: none;
}

/*//////////////////////START slider/////////////////*/
.swiper-slide, swiper-slide {
    position: relative;
    transition-property: transform;
    display: block
}

.swiper-container::-webkit-scrollbar { /*скрыть скролл*/
    display: none;
}

.swiper-container {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; /*Скрывает скролл в Firefox*/

}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: auto; /*var(--swiper-pagination-bottom,8px);*/
    /*указать вычисление отступа*/
    top: 180px; /*var(--swiper-pagination-top,auto);*/
    left: 10px;
    height: fit-content;
}

/*//////////////////////END slider/////////////////*/

.content-companies {
    display: none;
}

.list-logo {
    overflow: hidden;
    height: 180px;
}

.show-more, .show-less {
    margin-left: 28px;
}

.show-less__icon {
    rotate: 180deg;
}

.show-less {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
    /*стили для планшетов*/
    .content-companies, .show-more {
        display: unset;
    }

    .page-content {
        width: auto;
    }

    .list-logo {
        flex-wrap: wrap;
    }

    .slider, .wrapper {
        display: none;
    }
}

@media screen and (min-width: 1120px) {
    /* Стили для ПК */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-companies, .show-more {
        display: unset;
    }

    .page-content {
        width: 1120px;
    }

    .list-logo {
        flex-wrap: wrap;
    }

    .slider, .wrapper {
        display: none;
    }
}