* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    min-width: 320px;
    background: #F8F8F8;
    font-family: 'TT Lakes';
    font-weight: 300;
    font-color: black;
    background: #F8F8F8;
}

a, button {
    font-weight: 500;
    color: #1B1C21;
    text-decoration: none;
}

li {
    list-style-type: none;
    padding: 8px;
}

.button {
    border-color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
}

a, input, button:hover {
    cursor: pointer;
}

input {
    font-family: 'TT Lakes';
}

.left-menu {
    left: 3.06%;
    right: 91.84%;
    top: 40px;
    bottom: 87.3%;
    width: 33%;
    display: flex;
    flex-direction: row;
}

.menu__shadow {
    left: 0%;
    right: 0%;
    bottom: 85.26%;
    height: 1px;
    width: 100%;
    top: 87px;
    border-radius: 0px;
    background: #D9FFF5;
}

.logo {
    left: 22.73%;
    right: 47.1%;
    top: 18.59px;
    bottom: 88.37%;
    padding: 0px 15px;
    background: rgba(100%, 100%, 100%, 0);
    border: rgba(100%, 100%, 100%, 0);
}

.right-menu {
    left: 11.84%;
    right: 88px;
    top: 24px;
    bottom: 87.3%;
    width: 33%;
    display: flex;
    flex-direction: row;
}

.divider {
    left: 58.12%;
    right: 41.25%;
    top: 28px;
    bottom: 89.95%;
    background: #EAEAEA;
    border-radius: 1px;
}

.icon-repair__background {
    left: 65%;
    right: 22.5%;
    top: 24px;
    bottom: 89.28%;
    border-radius: 20px;
}

.icon-status-repair__background {
    left: 82.5%;
    right: 5%;
    top: 24px;
    bottom: 89.28%;
    border-radius: 20px;
}

.menu-mini {
    display: none;
}

.background-page {
    width: 100vw;
    height: 509px;
    left: 0px;
    top: 88px;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
}

.title__copy {
    display: flex;
}

.title__copy-fill {
    height: 40px;
    width: 4px;
    left: 0px;
    background: #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

}

.title__copy-text {
    height: 40px;
    width: 288px;
    left: 16px;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}

nav input {
    white-space: nowrap;
    padding: 5px 17px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0);
    height: 40px;
    border-radius: 6px;
    margin: 0px 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #7E7E82;
}


.slide-menu {
    width: 95vw;
    height: 40px;
    left: 16px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.slide-menu__opacity {
    position: fixed;
    left: 94.54%;
    right: 0;
    top: 20.5%;
    bottom: 63.82%;
    order: 999;
    margin-left: auto;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); /*F8F8F8*/
    height: 50px;
    z-index: 100;
}

.slide-menu::-webkit-scrollbar {
    display: none;
}

.slide-menu {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; /*Скрывает скролл в Firefox*/
}


.slide-menu__item1 {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.slide-menu__item:hover {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    cursor: pointer;
}

.block1 {
    width: 100vw;
    left: 0px;
    top: 240px;
    display: flex;
    flex-direction: column;
}

.block1__infoCPS {
    top: 180px;
    width: 45%;
    height: 90px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    letter-spacing: 0.2px;
    color: #1B1C21;
    overflow: hidden;
}

.link {
    display: flex;
    flex-direction: row;
}

.link__icon-read-further {
    height: 10px;
    width: 7px;
    left: 24px;
    top: 127px;
}

.link__read-more {
    height: 24px;
    width: 100px;
    left: 48px;
    top: 120px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    white-space: nowrap;
}

.block-info__background-img {
    height: 176px;
    width: 45%;
    left: 0px;
    top: 160px;
}


@media (min-width: 1px) {
    .menu {
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 85.26%;
        width: 105vw; /*auto;*/
        height: 88px;
        border-radius: 0px;
        background: #FFFFFF;
        display: flex;
        flex-direction: row;
    }

    .left-menu {
        padding: 18px;
        display: flex;
        flex-direction: row;
        left: 10px;
        width: 25%;
    }

    .logo {
        top: 20%;
        bottom: 86.23%;
        background: rgba(100%, 100%, 100%, 0);
        border: rgba(100%, 100%, 100%, 0);
    }

    .medium-menu {
        width: 33%;
    }

    .right-menu {
        left: 10%;
        right: 70%;
        width: 33%;
        padding: 18px;
        display: flex;
        flex-direction: row;
    }

    .divider2 {
        width: 2px;
        left: 79.85%;
        right: 17.86%;
        top: 28px;
        bottom: 88.1%;
        background: #EAEAEA;
        border-radius: 1px;
    }

    .call, .chat, .profile, .divider1, .menu-mini {
        display: none;
    }

    .title_copy {
        margin: 10px 0px 0px;
        display: flex;
        flex-direction: row;
    }

    .title__copy-text {
        margin: 0px 0px 0px 10px;
    }

    .slide-menu {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        overflow-x: auto;
        margin: 3%;
        height: 40px;
    }

    .slide-menu__opacity {
        position: fixed;
        left: 94.54%;
        right: 0;
        top: 15%;
        bottom: 63.82%;
        order: 999;
        margin-left: auto;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); /*F8F8F8*/
        height: 70px;
        z-index: 100;
    }

    .slide-menu::-webkit-scrollbar {
        display: none;
    }

    .block-info {
        position: absolute;
        top: 200px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .block1 {
        display: flex;
        flex-direction: column;
    }

    .block1__infoCPS {
        margin: 5% 5%;
        width: auto;
        height: 145px;
        left: 24px;
        font-width: 500;
        overflow: hidden;
    }

    .read-more__button {
        border-color: rgba(150, 150, 150, 0);
        background: rgba(0, 0, 0, 0);
        margin-left: 5%;
        width: 150px;
        font-family: 'TT Lakes';
    }

    .block-img__img {
        left: 400px;
        right: 5.1%;
        margin: 30px 10px;
        bottom: 2.85%;
        width: 100%;
        height: auto;
        border-radius: 6px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
    /* Стили для планшетов*/
    .link-repair, .link-status-repair {
        display: none;
    }

    .divider2, .call, .chat, .profile {
        display: unset;
    }

    .menu {
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 85.26%;
        width: 105vw; /*auto;*/
        border-radius: 0px;
        background: #FFFFFF;
        display: flex;
        flex-direction: row;
    }

    .left-menu {
        padding: 18px;
        display: flex;
        flex-direction: row;
        left: 10px;
        width: 25%;
    }

    .logo {
        top: 20%;
        bottom: 86.23%;
        background: rgba(100%, 100%, 100%, 0);
        border: rgba(100%, 100%, 100%, 0);
    }

    .medium-menu {
        width: 30%;
    }

    .right-menu {
        left: 10%;
        right: 70%;
        width: 27%;
        padding: 18px 0px;
        display: flex;
        flex-direction: row;
    }

    .divider2 {
        width: 2px;
        left: 79.85%;
        right: 17.86%;
        top: 28px;
        bottom: 88.1%;
        background: #EAEAEA;
        border-radius: 1px;
    }

    .slide-menu__item:hover {
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        z-index: auto;
    }


    .title_copy {
        margin: 10px 0px 0px;
        display: flex;
        flex-direction: row;
    }

    .title__copy-text {
        margin: 0px 0px 0px 10px;
    }

    .slide-menu {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        overflow-x: auto;
        margin: 3%;
        height: 40px;
    }

    .slide-menu__opacity {
        position: fixed;
        left: 94.54%;
        right: 0;
        top: 17%;
        bottom: 63.82%;
        order: 999;
        margin-left: auto;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); /*F8F8F8*/
        height: 70px;
        z-index: 100;
    }

    .block-info {
        position: absolute;
        top: 250px;
        height: auto;
        display: flex;
        flex-direction: row;
    }

    .block1 {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .block1__infoCPS {
        margin: 5% 5%;
        width: auto;
        /*width: 50%;*/
        height: 145px;
        left: 24px;
        font-width: 500;
        overflow: hidden;
    }

    .read-more__button {
        border-color: rgba(150, 150, 150, 0);
        background: rgba(0, 0, 0, 0);
        margin-left: 5%;
        width: 150px;
        font-family: 'TT Lakes';
    }

    .block-img {
        width: 50%;
    }

    .block-img__img {
        left: 400px;
        right: 5.1%;
        margin: 30px 10px;
        bottom: 2.85%;
        width: 100%;
        height: auto;
        border-radius: 6px;
    }
}

@media screen and (min-width: 1120px) {
    /* Стили для ПК */
    html {
        /*padding: 0 20% 0 20%; */
        padding: 0 20vw 0 20vw;
    }

    .menu, .slide-menu__opacity, .menu__shadow {
        display: none;
    }

    .title_copy {
        margin: 30px 0px 0px;

        display: flex;
        flex-direction: row;
    }

    .title__copy-fill {
        margin: 15px;
    }

    .title__copy-text {
        width: 30%;
        margin: 0px 0px 0px 10px;
        padding: 15px;
    }

    .medium-menu {
        height: 15px;
        width: 30%;
    }

    .menu-mini {
        width: 36%;
        padding: 18px;
        display: flex;
        flex-direction: row;
    }

    .menu-mini__button-repair {
        width: 200px;
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-mini__button-status-repair {
        width: 200px;
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .background-page {
        height: 509px;
        left: 0px;
        top: 0px;
        display: flex;
        flex-direction: column;
    }

    .title__copy {
        height: 40px;
        left: 2.94%;
        right: 76.27%;
        top: 7.85%;
        display: flex;
        flex-direction: row;
    }

    .title__copy-fill {
        height: 40px;
        width: 4px;
        left: 0px;
        top: 24px;
        background: #41F6D7;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .title__copy-text {
        height: 40px;
        width: 288px;
        left: 16px;
        font-weight: bold;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
        color: #1B1C21;
    }

    .slide-menu {
        width: 80vw;
        height: 100px;
        left: 16px;
        display: flex;
        flex-wrap: wrap;
        flex-flow: row wrap;
    }

    .block-info {
        position: absolute;
        top: 250px;
        height: auto;
        display: flex;
        flex-direction: row;
    }

    .block1 {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .block1__infoCPS {
        margin: 5% 5%;
        width: auto;
        /*width: 50%;*/
        height: 145px;
        left: 24px;
        font-width: 500;
        overflow: hidden;
    }

    .read-more__button {
        border-color: rgba(150, 150, 150, 0);
        background: rgba(0, 0, 0, 0);
        margin-left: 5%;
        width: 150px;
        font-family: 'TT Lakes';
    }

    .block-img {
        width: 50%;
    }

    .block-img__img {
        left: 400px;
        right: 5.1%;
        margin: 30px 10px;
        padding: 0px 30px;
        bottom: 2.85%;
        width: auto; /*100%;*/
        height: auto;
        border-radius: 6px;
    }
}