html {
    width: 100vw;
    min-width: 320px;
    background: #F8F8F8;
    font-family: 'TT Lakes';
    font-weight: 200;
    background: #F8F8F8;
}
a {
    font-weight: 500;
    color: #1B1C21;
    text-decoration: none;
}
a, input:hover{
    cursor: pointer;
}
input {
    font-family: 'TT Lakes';
}
.icon-menu__background{
    position: absolute;
    left: 3.06%;
    right: 91.84%;
    top: 24px;
    bottom: 87.3%;
    border-radius: 20px;
}
.menu__shadow{
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 85.26%;
    height: 1px;
    width: 100%;
    top: 87px;
    border-radius: 0px;
    background: #D9FFF5;
}
.icon-menu__background{
    position: absolute;
    height: 40px;
    width: 40px;
    left: 16px;
    top: 24px;
    border-radius: 20px;
}
.logo{
    position: absolute;
    left: 22.73%;
    right: 47.1%;
    top: 18.59px;
    bottom: 88.37%;
    background: rgba(100%,100%,100%,0);
    border: rgba(100%,100%,100%,0);
}
.divider {
    position: absolute;
    left: 58.12%;
    right: 41.25%;
    top: 28px;
    bottom: 89.95%;

    background: #EAEAEA;
    border-radius: 1px;
}
.icon-repair__background{
    position: absolute;
    left: 65%;
    right: 22.5%;
    top: 24px;
    bottom: 89.28%;
    border-radius: 20px;
}
.icon-status-repair__background{
    position: absolute;
    left: 82.5%;
    right: 5%;
    top: 24px;
    bottom: 89.28%;
    border-radius: 20px;
}
.menu-mini{
    display: none;
}

.background-page{
    position: absolute;
    width: 100vw;
    height: 509px;
    left: 0px;
    top: 88px;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
}

.title__copy{
    display: flex;
}
.title__copy-fill{
    position: absolute;
    height: 40px;
    width: 4px;
    left: 0px;
    top: 24px;
    background: #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

}
.title__copy-text{
    position: absolute;
    height: 40px;
    width: 288px;
    left: 16px;
    top: 6px;
    /*font-family: 'TT Lakes Bold';*/
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}

nav input{
    white-space: nowrap;
    padding: 5px 17px 5px 17px;
    background: rgba(0,0,0,0);
    border: 2px solid rgba(0,0,0,0);
    height: 40px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #7E7E82;
}
.slide-menu{
    position: absolute;
    width: 95vw;
    height: 40px;
    left: 16px;
    top: 88px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
.slide-menu__opacity{
    position: fixed;
    left: 94.54%;
    right: 0;
    top: 27.5%;
    bottom: 63.82%;
    order: 999;
    margin-left: auto;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); /*F8F8F8*/
    height: 29px;
    z-index: 100;
}
.slide-menu::-webkit-scrollbar {
    display: none;
}
.slide-menu__item1{
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}
.slide-menu__item:hover{
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    cursor: pointer;
}

.block1{
    position: absolute;
    width: auto;
    left: 0px;
    top: 140px;
    display: flex;
    flex-direction: column;
}
.block1__infoCPS{
    position: absolute;
    width: 288px;
    height: 90px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    letter-spacing: 0.2px;
    color: #1B1C21;
    overflow: hidden;
}
.link{
    display: flex;
    flex-direction: row;
}
.link__icon-read-further{
    position: absolute;
    height: 10px;
    width: 7px;
    left: 24px;
    top: 127px;
}
.link__read-more {
    position: absolute;
    height: 24px;
    width: 100px;
    left: 48px;
    top: 120px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    white-space: nowrap;
}

.block-info__background-img {
    position: absolute;
    height: 176px;
    width: 320px;
    left: 0px;
    top: 160px;
}


@media (min-width:1px){ /* Стили для телефона */
    .menu {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 85.26%;
        height: 88px;
        width: auto;
        border-radius: 0px;
        background: #FFFFFF;
    }
    .logo {
        position: absolute;
        left: 22.73%;
        top: 18.59px;
        bottom: 88.37%;
    }
    .divider2 {
        position: absolute;
        left: 58.12%;
        right: 41.25%;
        top: 28px;
        bottom: 89.95%;
        background: #EAEAEA;
        border-radius: 1px;
    }
    .call, .chat, .profile, .divider1, .menu-mini{
        display: none;
    }
    .block1__infoCPS{
        position: absolute;
        height: 90px;
        width: 288px;
        left: 16px;
    }
    .block-info__background-img {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 60.06%;
        bottom: 1.28%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1119px){ /* Стили для планшетов*/
    .link-repair, .link-status-repair {
        display: none;
    }
    .menu {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 85.26%;
        height: 88px;
        width: auto;
        border-radius: 0px;
        background: #FFFFFF;
    }
    .logo{
        position: absolute;
        left: 13.61%;
        top: 18.59px;
        bottom: 86.23%;
        background: rgba(100%,100%,100%,0);
        border: rgba(100%,100%,100%,0);
    }
    .divider2, .call, .chat, .profile {
        display: unset;
    }
    .divider2 {
        position: absolute;
        width: 2px;
        left: 79.85%;
        right: 17.86%;
        top: 28px;
        bottom: 88.1%;
        background: #EAEAEA;
        border-radius: 1px;
    }
    .call{
        position: absolute;
        left: 57.91%;
        right: 36.99%;
        top: 24px;
        bottom: 87.3%;
        border-radius: 20px;
    }
    .chat{
        position: absolute;
        left: 65.05%;
        right: 29.85%;
        top: 24px;
        bottom: 87.3%;
    }
    .profile{
        position: absolute;
        left: 72.19%;
        right: 22.7%;
        top: 24px;
        bottom: 87.3%;
        border-radius: 20px;
    }
    .icon-repair__background{
        position: absolute;
        left: 82.65%;
        right: 12.24%;
        top: 24px;
        bottom: 87.3%;
        border-radius: 20px;
    }
    .icon-status-repair__background{
        position: absolute;
        left: 89.8%;
        right: 5.1%;
        top: 24px;
        bottom: 87.3%;
        border-radius: 20px;
    }
    .slide-menu__item:hover{
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }

    .block1{
        position: absolute;
        display: flex;
        flex-direction: row;
    }
    .block-info{
        position: absolute;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .block1__infoCPS{
        position: absolute;
        width: 312px;
        height: 145px;
        left: 24px;
        overflow: hidden;
    }
    .link__icon-read-further{
        position: absolute;
        height: 10px;
        width: 7px;
        left: 24px;
        top: 201px;
    }
    .link__read-more{
        position: absolute;
        height: 24px;
        width: 100px;
        left: 48px;
        top: 194px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-align: left;
        font-weight: 500;
        text-decoration: none;
        color: #1B1C21;
        white-space: nowrap;
    }
    .block-info__background-img{
        position: absolute;
        left: 400px;
        right: 5.1%;
        top: 150px;
        bottom: 2.85%;
        width: 360px;
        height: 208px;
        border-radius: 6px;
    }
}

@media screen and (min-width: 1120px) {  /* Стили для ПК */
    .menu, .slide-menu__opacity{
        display: none;
    }
    .menu-mini{
        display: unset;
        flex-direction: row;
    }
    .link-repair{
        position: absolute;
        height: 24px;
        left: 63.87%;
        right: 24.98%;
        top: calc(50% - 24px/2 - 205.5px);
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }
    .icon-repair{
        position: absolute;
        left: 75.74%;
        right: 20.7%;
        top: 6px;
        bottom: 84.67%;
    }
    .link-status-repair{
        position: absolute;
        height: 24px;
        left: 83.16%;
        right: 8.23%;
        top: calc(50% - 24px/2 - 205.5px);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        white-space: nowrap;
    }
    .icon-status-repair{
        position: absolute;
        left: 85.58%;
        right: 2.85%;
        top: 6px;
        bottom: 84.67%;
        border-radius: 20px;
    }
    .background-page{
        position: absolute;
        height: 509px;
        left: 0px;
        top: 0px;
        display: flex;
        flex-direction: column;
    }

    .title__copy {
        position: absolute;
        height: 40px;
        left: 2.94%;
        right: 76.27%;
        top: 7.85%;
    }
    .title__copy-fill {
        position: absolute;
        height: 40px;
        width: 4px;
        left: 0px;
        top: 24px;
        background: #41F6D7;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .title__copy-text {
        position: absolute;
        height: 40px;
        width: 288px;
        left: 16px;
        top: 8px;
        /*font-family: 'TT Lakes Bold';*/
        font-weight: bold;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
        color: #1B1C21;
    }
    .slide-menu{
        position: absolute;
        left: 2.94%;
        right: 2.23%;
        top: 16.82%;
        bottom: 67.85%;
        overflow: unset;
        display: flex;
        flex-flow: row wrap;
    }

    .block1{
        position: absolute;
        display: flex;
        flex-direction: row;
    }
    .block-info{
        position: absolute;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .block1__infoCPS{
        position: absolute;
        height: 160px;
        width: 490px;
        left: 35px;
        top: 40px;
        overflow: hidden;
    }
    .link__icon-read-further{
        position: absolute;
        height: 10px;
        width: 7px;
        left: 24px;
        top: 239px; /*==7*/
    }
    .link__read-more{
        position: absolute;
        height: 24px;
        width: 100px;
        left: 48px;
        top: 232px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-align: left;
        font-weight: 500;
        text-decoration: none;
        color: #1B1C21;
        white-space: nowrap;
    }
    .block-info__background-img{
        position: absolute;
        left: 560px;
        right: 5.1%;
        top: 190px;
        bottom: 2.85%;
        width: 531px;
        height: 307px;
        border-radius: 6px;
    }
}