* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
    background: #F8F8F8;
    font-family: 'TT Lakes', serif;
    font-weight: 300;
    color: black;
}

a, button {
    font-weight: 500;
    color: #1B1C21;
    text-decoration: none;
}

li {
    list-style-type: none;
    padding: 8px;
}

.button {
    border-color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    font-family: 'TT Lakes', serif;
}

.menu-icon, .call, .chat, .profile, .repair, .status-repair {
    height: 44px;
    margin-top: 5px;
}

a, input, button:hover {
    cursor: pointer;
}

input {
    font-family: 'TT Lakes', serif;
}

.menu {
    left: 0;
    right: 0;
    top: 0;
    bottom: 85.26%;
    width: 100%;
    border-radius: 0;
    background: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid #41F6D7;
}

.call, .chat, .profile, .menu-mini {
    display: none;
}

.left-menu {
    display: flex;
    flex-direction: row;

}

.right-menu {
    display: flex;
    flex-direction: row;
}

.menu-mini {
    display: none;
}

.copy-text {
    padding-left: 15px; /* 0 0 10px;*/
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    border-left: 3px solid #41F6D7;
}

.copy-text {
    height: 40px;
    width: 288px;
    left: 16px;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}

nav input {
    white-space: nowrap;
    padding: 5px 17px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0);
    height: 40px;
    margin: 0 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #7E7E82;
}

.slide-menu {
    width: auto;
    height: 40px;
    margin: 10px 0 10px 15px;

    display: flex;
    flex-direction: row;
    overflow-y: auto;

    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; /*Скрывает скролл в Firefox*/
}

.slide-menu__opacity {
    position: fixed;
    left: 94.54%;
    right: 0;
    top: 120px;
    bottom: 63.82%;
    order: 999;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); /*F8F8F8*/
    height: 70px;
    z-index: 100;
}


.slide-menu::-webkit-scrollbar {
    display: none;
}

.slide-menu__item1 {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.slide-menu__item:hover {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    cursor: pointer;
}

.block-info {
    display: flex;
    flex-direction: column;
}

.block1 {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.block1__infoCPS {
    height: 110px;
    margin: 20px 0 0;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    letter-spacing: 0.2px;
    color: #1B1C21;
    overflow: hidden;
}

.read-more__icon {
    height: 10px;
    width: 7px;
    left: 24px;
    top: 127px;
}

.read-more {
    margin: 8px 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
}

.block-img__img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}


/*.page-content{
        border: 1px solid red;
    }*/


@media screen and (min-width: 768px) and (max-width: 1119px) {
    /*стили для планшетов*/
    .call, .chat, .profile {
        display: unset;
    }

    .repair {
        padding-left: 10px;
        border-left: 2px solid #EAEAEA;
    }

    .menu-icon__background {
        padding: 0 10px 0 0;
        border-right: 2px solid #EAEAEA;
    }

    .slide-menu {
        margin: 10px 0;
    }

    .block-info {
        height: auto;
        display: flex;
        flex-direction: row;
    }

    .block1 {
        width: 65%;
    }

    .block-img__img {
        margin: 30px 10px;
        width: 100%;
        height: auto;
        border-radius: 6px;
    }
}

@media screen and (min-width: 1120px) {
    /* Стили для ПК */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page-content {
        width: 1120px;
    }

    .menu, .slide-menu__opacity {
        display: none;
    }

    .mini-menu {
        display: unset;
    }

    .title_copy {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .copy-text {
        margin: 15px 0 10px 10px;
        /*padding-bottom: 10px;*/
        border-left: 3px solid #41F6D7;
    }

    .menu-mini {
        padding: 18px;
        display: flex;
        flex-direction: row;
    }

    .menu-mini__button-repair {
        width: 200px;
        font-family: 'TT Lakes', serif;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-mini__button-status-repair {
        width: 200px;
        font-family: 'TT Lakes', serif;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slide-menu {
        width: auto;
        height: 90px;
        margin: 10px 0;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    span {
        padding: 0 10px;
    }

    .block-info {
        height: auto;
        display: flex;
        flex-direction: row;
    }

    .block1 {
        width: 65%;
    }
}